{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block style %}

<style>

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #aaa;
}

#main-container {
  width: 350em;
  height: 300em;
  display: inline-block;
  margin: -50px 370px 50px 370px;
  /*margin: 0 auto;*/
  border: 2px solid black;
  border-radius: 12px;
  /*padding: 4px;*/
  overflow-y: scroll;
}

#user-container {
  border: none;
  font-size: 20px;
}

</style>

{% endblock %}

{% block contenu %}
</header>

<div class="container" id="main-container">
  <div class="container" id="user-container">
    <a style="color: rgb(0,0,255,1);"> {{app.user.IdUnique}} </a>  >>>  <a style="color: rgb(255,0,0,1);"> Administrateur </a>
  </div>
  <div class="container" id="messages-container">

  {% for e in contacts %}
  
    <div class="container darker" {% if e.vu == 0 and e.emetteur != app.user %} style="background-color: rgb(255,0,0,0.4);" {% endif %}>
      {{e.emetteur.idUnique}}
      <br>
      <p>{{e.message}}</p>
      <span class="time-right" style="color: rgb(0,0,0,1);">{{e.dateMessage|date("g:i")}}</span>
    </div>

  {% endfor %}
  
  </div>
</div>


{% endblock %}

