{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block style %}

<style>
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  color: #aaa;
}

#main-container {
  width: 350em;
  height: 300em;
  display: inline-block;
  margin-left: 25rem;
  border: 2px solid black;
  border-radius: 12px;
  overflow-y: scroll;
  position: relative;
}

#user-container {
  border: none;
  font-size: 20px;
}

#input-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}

#input {
  max-height:100px;
  min-height:100px;
  resize: none;
}
</style>

{% endblock %}

{% block contenu %}
</header>

<div class="container" id="main-container">
  <div class="container" id="user-container">
      <a style="color: rgb(0,0,255,1);"> {{app.user.IdUnique}} </a>  >>>  <a style="color: rgb(255,0,0,1);"> Utilisateur </a>
  </div>
  <div class="container" id="messages-container">
    <!--
      Montre tout les messages de l'utilisateur, et met son fond en rouge si l'utilisateur n'a pas vu le message et qu'il n'est pas l'émetteur.
    -->
    {% for e in contacts %}
    
      <div class="container darker" {% if e.vu == 0 and e.emetteur != app.user %} style="background-color: rgb(255,0,0,0.4);" {% endif %}>
        {{e.emetteur.idUnique}}
        <br>
        <p>{{e.message}}</p>
        <span class="time-right" style="color: rgb(0,0,0,1);">{{e.dateMessage|date("g:i")}}</span>
      </div>

    {% endfor %}
  </div>
  <div id="input-container">
    <textarea id="input" rows="4" cols="132" autofocus="true" placeholder="Entrer un message...">
    </textarea>
  </div>
</div>

{% endblock %}

