{% extends 'base.html.twig' %}

{% block title %}Resultat
{% endblock %}

{% block contenu %}

	<h1>Resultat recherche</h1>
</header>


    {{form(form)}}
<table class="table table-hover">
	<thead>
		<tr class="fw-bold text-primary">
			<th scope="col">id</th>
		</tr>
	</thead>
	<tbody>
		{% for atribuer in atribuers %}
			<tr>
				<td><a style="color: black" href="{{path('profil', {'id':atribuer.user.id})}}">{{ atribuer.user.idUnique | capitalize }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>{% endblock %}
