@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,400;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #000000;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    background: linear-gradient(#7012d5, #fdb211);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
}

header h1 {
    color: palevioletred;
    flex: 1;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

section {
    flex: 1;
}

div.info {
    flex: 1;
    padding-left: 45%;
    padding-top: 3%;
}

.btn {
    padding-left: 10%;
}

footer {
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 100vh;
    overflow: hidden;
    transition: width 500ms;
    background: linear-gradient(#862fe3, #ffc547);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

nav .navItem,
nav .navDivider {
    opacity: 0;
    color: lightgrey;
    font-size: 1.2rem;
    font-weight: 400;
    transition: opacity 300ms;
}

nav .navItem:not(:first-child),
nav .navDivider:not(:first-child) {
    margin-top: 0.5rem;
}

nav .navItem {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

nav.open {
    width: 300px;
}

nav.open .navItem,
nav.open .navDivider {
    opacity: 1;
}

#menuButton {
    padding: 5px 7px 5px 0;
    height: max-content;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    background: linear-gradient(#862fe3, #ffc547);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 0 1rem 1rem 0;
    transition: padding 500ms ease;
}

#menuButton:hover {
    padding: 5px 17px 5px 0;
    cursor: pointer;
}

#pageContent {
    display: flex;
    flex-direction: column;
}

/* ##### MEDIA QUERIES ##### */
/* Tablets (sm) */
/* Laptops (md) */
/* Desktops (lg) */